.venv/
firebase-hosting/
frontend/
tiles/tiles.zip

.git
.dockerignore
.gitignore
Dockerfile
LICENSE
README.md

__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store
*.ipynb

!frontend/dist/
# Toggle this in order to control whether the image has this or not.
# !tiles/tiles.zip
# v0.3.0 - 403.0s
# v0.3.0-no-tiles - 11.1s