body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

#sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1010;
  padding: 20px;
  overflow-y: auto;
}

#sidebar.open {
  transform: translateX(0);
}

#sidebar-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1011;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 18px;
}

#main-content {
  padding: 20px;
}

#map {
  height: 400px;
  background-color: #e0e0e0;
  margin-bottom: 30px;
  border-radius: 8px;
}

.chapter-verse-row {
  display: flex;
}

.chapter-verse-row .custom-control-select {
  flex: 1; /* This will make them share the space equally */
}

.leaflet-control-custom {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.leaflet-bar.leaflet-control.leaflet-control-custom {
  width: 120px;
}
.leaflet-control-custom a {
  font-size: 1.2em;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  color: black;
}
.leaflet-control-custom a:hover {
  background-color: #f4f4f4;
}
.custom-control-select {
  padding: 5px;
}
.custom-control-select select {
  padding: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

select,
input[type="range"] {
  margin-right: 20px;
  width: calc(100% - 100px);
}

#changelog-popup.hidden {
  display: none;
}

#changelog-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

#changelog-list {
  max-height: 70vh; /* Sets the maximum height of the content area */
  overflow-y: auto; /* Adds a scrollbar when the content exceeds the max-height */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 90%; /* Added for better responsiveness on medium screens */
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .popup-content {
    width: 95%;
    padding: 15px;
  }
}
